{% extends 'base.html' %}
{% block title %}
	profile
{% endblock %}
{% block content %}
	<h2 class = text-center >{{ user.username }}</h2>
    {% if user.id == request.user.id %}
        <a href="{% url "home:post_create" %}" class="btn btn-primary">create</a>
        <hr>
    {% endif %}
    {% if user.id != request.user.id and not is_follow %}
        <a href="{% url "account:user_follow" user.id %}" class="btn btn-primary">follow</a>
        {% elif user.id != request.user.id and is_follow %}
        <a href="{% url "account:user_unfollow" user.id %}" class="btn btn-primary">unfollow</a>
        <hr>
    {% endif %}
     <div class="card">
	    {% for post in posts %}
            <a href="{{ post.get_absolute_url }}" class="card-body" >{{ post.body|truncatewords:8 }}</a>
	    {% endfor %}
    </div>
{% endblock %}